@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: #ffffff;
  color: #000;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  padding: 5px;
}
.titulo {
  font-family: "Rubik", sans-serif;
  font-size: 1.9em;
  color: #555;
  font-weight: 700;
  padding: 2px;
  margin: 0;
}
.subtitulo {
  font-family: "Rubik", sans-serif;
  font-size: 1.3em;
  color: rgb(126, 126, 126);
  font-weight: 500;
  padding: 1px;
  margin: 0;
}
.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 2em auto;
}
.box-participante {
  height: 80px;
  background-color: #ffffff;
  font-size: 0.9em;
  color: #000;
  -webkit-box-shadow: 0px 10px 34px -8px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 10px 34px -8px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 10px 34px -8px rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  margin: 5px;
  overflow: hidden;
}
.foto-box-participante {
  width: 4rem;
  box-sizing: border-box;
  overflow: hidden;
  border: solid 1px #000;
  border-radius: 50%;
  margin-right: 7px;
}
.status-all {
  width: 1.5rem;
  padding: 4px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  margin-left: -7px;
}
#ver-participante {
  font-size: 1.2rem;
  color: #a0a0a0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  float: right;
}
.centralizado {
  display: flex;
  align-items: center;
  justify-content: center;
}
.statuscobra {
  background-color: #205745;
}
.statusvomito {
  background-color: #ada61d;
}
.statusfeliz {
  background-color: #fba615;
}
.statusraiva {
  background-color: #8e111f;
}
.statusbomba {
  background-color: #a99696;
}
.statuscoracao {
  background-color: #fa2f5b;
}
.statuscoracaopartido {
  background-color: #851575;
}
.statusplanta {
  background-color: #313131;
}
.bg-head-participante {
  background-image: linear-gradient(
    to right top,
    #fd2b49,
    #ff5a36,
    #ff8020,
    #ffa403,
    #fdc500
  );
}
